{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
</div>

{{^list}}
    <div class="container no-list">
    <h2>Pagina não encontrada</h2>
    </div>
{{/list}}

{{>partials/footer}}